.container-renamed {
  background: black;
  /* width: 92%; */
  height: 92%;
  margin: 0 auto;
  position: relative;
  margin-top: 4%;
  box-shadow: 2px 5px 20px rgba(128, 128, 128, 0.5);
  border: 1px solid white;
}

.logo-renamed {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: green;
}

.cta-renamed {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: green;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.leftbox-renamed {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 11%;
  height: 110%;
  background-image: linear-gradient(270deg, #866b2f, #dbb85e 50%, #866b2f);
}

nav a {
  list-style: none;
  padding: 35px;
  color: black;
  font-size: 1.1em;
  display: block;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.active-renamed {
  color: white;
}

.rightbox-renamed {
  float: right;
  width: 84%;
  height: 100%;
  padding: 1rem;
}

.profile-renamed, .payment-renamed, .subscription-renamed, .privacy-renamed, .settings-renamed {
  transition: opacity .5s ease-in;
  position: absolute;
  width: 70%;
}

.custom-h1-renamed {
  color: green;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2-renamed {
  color: gray;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p-renamed {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, aqua, rgba(0, 255, 0, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-size: .7em;
  padding: 7px 0;
  color: black;
}

.btn-renamed {
  float: right;
  font-size: 10px;
  border: none;
  color: aqua;
}

.btn-renamed:hover {
  text-decoration: underline;
  font-weight: 900;
}

.leftbox-renamed {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 11%;
  height: 110%;
  background-image: linear-gradient(270deg, #866b2f, #dbb85e 50%, #866b2f);
}

/* Mobile devices (portrait) */

.padding-items{
  padding: 20px
}
@media (max-width: 480px) {
  .background-custom{
    background-image: linear-gradient(270deg, #866b2f, #dbb85e 50%, #866b2f);
  
  }
  .leftbox-renamed {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .rightbox-renamed {
    margin-top: 2rem;
    float: right;
   width: 100%;
}
  
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  .background-custom{
    background-image: linear-gradient(270deg, #866b2f, #dbb85e 50%, #866b2f);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftbox-renamed {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .rightbox-renamed {
    margin-top: 4rem;
    float: right;
   width: 100%;
}
}

/* Large devices (desktops/laptops) */
@media (min-width: 1025px) {
  /* .leftbox-renamed {
    width: 15%;
    height: 110%;
    top: -5%;
    left: 5%;
  } */
}

