.footer {
  position: relative;
  bottom: 4.5rem;
  right: 0;
  padding: 10px;
  background-color: #c7bcbc;
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  }
  
  .feature {
    display: flex;
    align-items: center;
    /* text-align: center; */
    gap: 10px;
  }
  .line-height-custom{
    line-height: 15px;
  }
  .feature i {
    font-size: 26px;
  }
  
  .feature p {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .feature small {
    font-size: 0.7rem;
    display: block;
  }
  
  .btn {
    display: block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
    background-size: 200% auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  